snippet fmatter
---
title: ${1:Meet UltiSnips}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
# $1
$0
endsnippet

snippet rc
\`\`\`ruby
${0}
\`\`\`
endsnippet

snippet js
\`\`\`javascript
${0}
\`\`\`
endsnippet

snippet sh
\`\`\`sh
${0}
\`\`\`
endsnippet

snippet sql
\`\`\`sql
${0}
\`\`\`
endsnippet

snippet css
\`\`\`css
${0}
\`\`\`
endsnippet

snippet cd
\`${1}\` ${0}
endsnippet

