snippet fmatter
---
title: ${1:Meet UltiSnips}
date: ${2:`date +%Y-%m-%d`}
tags: $3
---
# $1
$0
endsnippet

snippet pc
```perl
${0}
```
endsnippet

snippet rc
```ruby
${0}
```
endsnippet

snippet jc
```javascript
${0}
```
endsnippet

snippet shl
```shell
${0}
```
endsnippet
