snippet attr
sub ${1} { $_[0]->{$1}=$_[1] if defined $_[1]; $_[0]->{$1} }
endsnippet

snippet new
sub new {
	my $class = shift;
	my $self = {@_};
	bless $self, $class;

	$self->_init;
	return $self;
}

sub _init {
	my $self = shift;
}
endsnippet
